.services {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 20px;
}

.s-title {
    font-size: 30px;
    color: var(--primaryColor);
    font-weight: 600;
    text-align: center;
    margin-bottom: 60px;
}

.s-box {
    padding: 40px;
    background-color: var(--primaryBackground);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    transform: perspective(1000px) rotateY(0deg) scale(1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.s-box:hover {
    animation: hoverEffect 1s ease-in-out forwards;
}

@keyframes hoverEffect {
    0% {
        transform: perspective(1000px) rotateY(0deg) scale(1);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        background-color: var(--primaryBackground);
    }
    25% {
        transform: perspective(1000px) rotateY(15deg) scale(1.05);
        box-shadow: 0px 6px 15px rgba(0, 128, 255, 0.4);
    }
    50% {
        transform: perspective(1000px) rotateY(30deg) scale(1.1);
        box-shadow: 0px 8px 20px rgba(0, 128, 255, 0.6);
    }
    75% {
        transform: perspective(1000px) rotateY(15deg) scale(1.05);
        box-shadow: 0px 6px 15px rgba(0, 128, 255, 0.4);
    }
    100% {
        transform: perspective(1000px) rotateY(0deg) scale(1);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }
}

.s-icon {
    color: var(--primaryColor);
}

.s-subtitle {
    font-size: 24px;
    margin-top: 20px;
}

@media screen and (max-width: 768px){
    .services {
        margin-top: 180px;
        height: auto;
    }
}